{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page_data.title }}</title>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="container">
  <span><a href="{% url "main_page" %}">Return to article list</a></span>
  <h1 class="title">{{ page_data.title }}</h1>
  <div class="image-wrapper">
    <img class="image" src="{{ page_data.header_image.url }}" alt="dsa">

  </div>
  <div>
    {{ page_data.content|safe }}
  </div>
</div>
</body>
</html>